.ag-pivot-off .ag-header-cell-label{
    color:#8a6d3b;
}

.ag-pivot-on .ag-header-cell-label{
    
}

.ag-header-group-cell-label, .ag-header-cell-label {
    color:#1b6d85 !important;
    font-weight: bold !important;
}