<div class="bg-div">
    <img class="logo-img" src="assets/images/wellsfargo.jpg" ALT="Wells Fargo">
<nav>
  <ul class="nav nav-pills">
    <li class="nav-item dropdown">
      <a class="nav-link" href="javascript:void(0)">Deals</a>
      <div class="dropdown-menu" id="myDropdown">
        <a class="dropdown-item" href="#"><span class="pr-2"><i class="fa fa-angle-right"></i></span>
          Current Deals
        </a>
        <a class="dropdown-item" href="#"><span class="pr-2"><i class="fa fa-angle-right"></i></span>
          Archived Deals
        </a>
        <a class="dropdown-item" href="#"><span class="pr-2"><i class="fa fa-angle-right"></i></span>
          Create Deal - Single Tranche
        </a>
        <a class="dropdown-item" href="#"><span class="pr-2"><i class="fa fa-angle-right"></i></span>
          Create Deal - Multi Tranche
        </a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" href="javascript:void(0)">Orders</a>
      <div class="dropdown-menu" id="myDropdown">
        <a class="dropdown-item" href="#"><span class="pr-2"><i class="fa fa-angle-right"></i></span>
          Current Orders
        </a>
        <a class="dropdown-item" href="#"><span class="pr-2"><i class="fa fa-angle-right"></i></span>
          Archived Orders
        </a>
        <a class="dropdown-item" href="#"><span class="pr-2"><i class="fa fa-angle-right"></i></span>
          Add Order
        </a>
      </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link" href="javascript:void(0)">Admin</a>
        <div class="dropdown-menu" id="myDropdown">
          <a class="dropdown-item" href="#"><span class="pr-2"><i class="fa fa-angle-right"></i></span>
            Syndicate
          </a>
          <a class="dropdown-item" href="#"><span class="pr-2"><i class="fa fa-angle-right"></i></span>
            Sales
          </a>
          <a class="dropdown-item" href="#"><span class="pr-2"><i class="fa fa-angle-right"></i></span>
            Trader
          </a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link" href="javascript:void(0)">Recent</a>
        <div class="dropdown-menu" id="myDropdown">
          <a class="dropdown-item" href="#"><span class="pr-2"><i class="fa fa-angle-right"></i></span>
            Recent Updates
          </a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link" href="javascript:void(0)">Help</a>
        <div class="dropdown-menu" id="myDropdown">
          <a class="dropdown-item" href="#"><span class="pr-2"><i class="fa fa-angle-right"></i></span>
            Contact
          </a>
        </div>
    </li>
  </ul>
</nav>
</div>
<!-- <div>
  <button mat-raised-button
          class="example-add-tab-button"
          (click)="addTab(selectAfterAdding.checked)">
    Add new tab
  </button>
  <mat-checkbox #selectAfterAdding> Select tab after adding </mat-checkbox>
</div>
 -->
<mat-tab-group [selectedIndex]="selected.value"
               (selectedIndexChange)="selected.setValue($event)">
  <mat-tab *ngFor="let tab of tabs; let index = index" >
  <ng-template mat-tab-label>
          {{tab}}<mat-icon *ngIf="index === tabs.length - 1" (click)="addTab(true)">add_circe</mat-icon>
          <mat-icon *ngIf="index < tabs.length - 1" (click)="removeTab(index)">clear</mat-icon> 
        </ng-template>
    
    <app-aggrid></app-aggrid>

    <button mat-raised-button
            class="example-delete-tab-button"
            [disabled]="tabs.length === 1"
            (click)="removeTab(index)">
      Delete Tab
    </button>
  </mat-tab>
</mat-tab-group>
<!-- <app-grid></app-grid> -->
<!-- <app-materialdesign></app-materialdesign> -->