<!-- <div class="bg-div">
    <img class="logo-img" src="assets/images/wellsfargo.jpg" ALT="Wells Fargo">
<nav>
  <ul class="nav nav-pills">
    <li class="nav-item dropdown">
      <a class="nav-link" href="javascript:void(0)">Deals</a>
      <div class="dropdown-menu" id="myDropdown">
        <a class="dropdown-item" href="#"><span class="pr-2"><i class="fa fa-angle-right"></i></span>
          Current Deals
        </a>
        <a class="dropdown-item" href="#"><span class="pr-2"><i class="fa fa-angle-right"></i></span>
          Archived Deals
        </a>
        <a class="dropdown-item" href="#"><span class="pr-2"><i class="fa fa-angle-right"></i></span>
          Create Deal - Single Tranche
        </a>
        <a class="dropdown-item" href="#"><span class="pr-2"><i class="fa fa-angle-right"></i></span>
          Create Deal - Multi Tranche
        </a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" href="javascript:void(0)">Orders</a>
      <div class="dropdown-menu" id="myDropdown">
        <a class="dropdown-item" href="#"><span class="pr-2"><i class="fa fa-angle-right"></i></span>
          Current Orders
        </a>
        <a class="dropdown-item" href="#"><span class="pr-2"><i class="fa fa-angle-right"></i></span>
          Archived Orders
        </a>
        <a class="dropdown-item" href="#"><span class="pr-2"><i class="fa fa-angle-right"></i></span>
          Add Order
        </a>
      </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link" href="javascript:void(0)">Admin</a>
        <div class="dropdown-menu" id="myDropdown">
          <a class="dropdown-item" href="#"><span class="pr-2"><i class="fa fa-angle-right"></i></span>
            Syndicate
          </a>
          <a class="dropdown-item" href="#"><span class="pr-2"><i class="fa fa-angle-right"></i></span>
            Sales
          </a>
          <a class="dropdown-item" href="#"><span class="pr-2"><i class="fa fa-angle-right"></i></span>
            Trader
          </a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link" href="javascript:void(0)">Recent</a>
        <div class="dropdown-menu" id="myDropdown">
          <a class="dropdown-item" href="#"><span class="pr-2"><i class="fa fa-angle-right"></i></span>
            Recent Updates
          </a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link" href="javascript:void(0)">Help</a>
        <div class="dropdown-menu" id="myDropdown">
          <a class="dropdown-item" href="#"><span class="pr-2"><i class="fa fa-angle-right"></i></span>
            Contact
          </a>
        </div>
    </li>
  </ul>
</nav>
</div> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#"><img class="logo-img" src="assets/images/wellsfargo.jpg" ALT="Wells Fargo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li> -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">(current)</span>
          Deals
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Current Deals</a>
          <a class="dropdown-item" href="#">Archived Deals</a>
          <a class="dropdown-item" href="#">Create Deal - Single Tranche</a>
          <a class="dropdown-item" href="#">Create Deal - Multiple Tranche</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="orders" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Orders
        </a>
        <div class="dropdown-menu" aria-labelledby="orders">
          <a class="dropdown-item" href="#">Current Orders</a>
          <a class="dropdown-item" href="#">Archived action</a>
          <a class="dropdown-item" href="#">Add Orders</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="admin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="admin">
          <a class="dropdown-item" href="#">Syndicate</a>
          <a class="dropdown-item" href="#">Sales</a>
          <a class="dropdown-item" href="#">Trader</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="recent" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Recent
        </a>
        <div class="dropdown-menu" aria-labelledby="recent">
          <a class="dropdown-item" href="#">Recent Updates</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="help" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Help
        </a>
        <div class="dropdown-menu" aria-labelledby="help">
          <a class="dropdown-item" href="#">Contact Us</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!-- <div>
  <button mat-raised-button
          class="example-add-tab-button"
          (click)="addTab(selectAfterAdding.checked)">
    Add new tab
  </button>
  <mat-checkbox #selectAfterAdding> Select tab after adding </mat-checkbox>
</div>
 -->
<mat-tab-group [selectedIndex]="selected.value"
               (selectedIndexChange)="selected.setValue($event)">
  <mat-tab *ngFor="let tab of tabs; let index = index" >
  <ng-template mat-tab-label>
          {{tab}}<mat-icon *ngIf="index === tabs.length - 1" (click)="addTab(true)">add_circe</mat-icon>
          <mat-icon *ngIf="index < tabs.length - 1" (click)="removeTab(index)">clear</mat-icon> 
        </ng-template>
    
    <app-aggrid></app-aggrid>

    <button mat-raised-button
            class="example-delete-tab-button"
            [disabled]="tabs.length === 1"
            (click)="removeTab(index)">
      Delete Tab
    </button>
  </mat-tab>
</mat-tab-group>
<!-- <app-grid></app-grid> -->
<!-- <app-materialdesign></app-materialdesign> -->

<footer id="footer" class="footer-1">
  
<div class="footer-copyright">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<p>Copyright Wells Fargo © 2019. All rights reserved.</p>
</div>
</div>
</div>
</div>
</footer>